{% extends 'base.html' %}



{% block content %}
{% load static %}
<section style="background: #eee;">
    <div class="container">
       <div class="row">
        <div class="col-md-12 pad-md-0">
            

            <div class="col-md-12 video-record-dashboard">
            
                <h1 style>Need to record your screen in an easy way ?</h1>

                <br>

                <button id="btn-start-recording" class="btn btn-success margin-right-15">Start Recording</button>
                <button id="btn-stop-recording" disabled class="btn btn-warning margin-left-15">Stop Recording</button>

                <hr>
                <video controls autoplay playsinline></video>


            </div>
        </div>
       </div>
    </div>
</section>

{% endblock %}